@using System.IO;
@using LipFileManager;
@using WebviewAppShared.Operations;
@inject AppState AppState
@inject IJSRuntime JsRuntime
@page "/"

<div class="tab">
    <button class="tabButton" @onclick="SwitchToSetupView">Setup</button>
    <button class="tabButton" @onclick="SwitchToEditorView">Editor</button>
    @code
    {
        private async Task SwitchToSetupView()
        {
            AppState.SetupView = true;
            AppState.EditorView = false;
        }
        private async Task SwitchToEditorView()
        {
            AppState.EditorView = true;
            AppState.SetupView = false;
        }

    }
</div>


<div hidden="@(!AppState.SetupView)" style="display: flex; flex-direction: column; flex-grow: 1;">

    <div style="width: 100%; display: flex; margin: 5px;">
        <div style="margin: 5px; margin-right: 37px;">Dialog text</div>
        <input style="flex: 1; margin: 5px; margin-right: 15px; background-color: #222222" />
    </div>
    <div style="width: 100%; display: flex; margin: 5px;">
        <div style="margin: 5px">Phonemon text</div>
        <input style="flex: 1; margin: 5px; margin-right: 15px; background-color: #222222" />
    </div>
    <div>
        <input type="file" id="wav" name="wav" accept="audio/wav" /> <button onclick="playAudio()">Play</button>
    </div>
    <div id="currentTime">
        0:00
    </div>
    <div>
        LIP file
        @value
        @*<input type="file" id="lip" name="lip" accept="file/lip" @bind="@value" @oninput="(EventArgs) => { SetLipFile(EventArgs.Value.ToString()); }" /> <button onclick="playAudio()">Load</button>
        *@
    </div>
    <p>
    <label style="width: 250px; height: 250px; background-color: red;">
    <InputFile OnChange="@SetLipFile"/>
    </label>
    </p>
    </div>
<div hidden="@(!AppState.EditorView)" style="display: flex; flex-direction: row; flex-grow: 1;">
        <button @onclick="GetMarkersPhonemData">Get Data</button>
        <button @onclick="PutNewMarker">New Marker</button>
    <div>
        <div id="waveform"</div>
        <canvas id="markersContainer" style="height: 100px; width: 250px; display: block; box-sizing: border-box;" width="250" height="100"></canvas>
    </div>
    <img id="frame0" src="LIEUTNP000000.PNG"/>
    <img id="frame1" src="LIEUTNP000001.PNG"/>
    <img id="frame2" src="LIEUTNP000002.PNG"/>
    <img id="frame3" src="LIEUTNP000003.PNG"/>
    <img id="frame4" src="LIEUTNP000004.PNG"/>
    <img id="frame5" src="LIEUTNP000005.PNG"/>
    <img id="frame6" src="LIEUTNP000006.PNG"/>
    <img id="frame7" src="LIEUTNP000007.PNG"/>
    <img id="frame8" src="LIEUTNP000008.PNG"/>
    </div>
    <div id="debugDiv"></div>
    <div id="phonemFrame" style="color: lime;"></div>

    @code {

        private IJSObjectReference? module;
        private IJSObjectReference? moduleWave;
        protected override async Task OnAfterRenderAsync(bool firstRender)
        {
            if (firstRender)
            {
                await JsRuntime.InvokeAsync<IJSObjectReference>("import", "./wavesurfer.min.js").AsTask();
                await JsRuntime.InvokeAsync<IJSObjectReference>("import", "./chart.min.js").AsTask();
                await JsRuntime.InvokeAsync<IJSObjectReference>("import", "./chartjs-plugin-dragdata.min.js").AsTask();

            await JsRuntime.InvokeVoidAsync("onStartDivImages");
                await JsRuntime.InvokeVoidAsync("loadWaveForm");
                await JsRuntime.InvokeVoidAsync("loadMarkersUi");
            }
            Console.WriteLine();
        }
    }

    @code {

        private async Task SetLipFile(InputFileChangeEventArgs e)
        {
            try
            {
                var ms = new MemoryStream();
                await e.File.OpenReadStream().CopyToAsync(ms);
                byte[] fileBytes;
                using (MemoryStream memoryStream = new MemoryStream())
                {
                    await e.File.OpenReadStream().CopyToAsync(memoryStream);
                    fileBytes = memoryStream.ToArray();
                }
                AppState.LipFile = new LipFile(fileBytes);
                await PutNewMarkers(AppState.LipFile);
            }
            catch (Exception ex)
            {
                Console.WriteLine($"Error: {ex.Message}");
            }
        }

        private async Task PutNewMarkers(LipFile lipFile)
        {
            var phonomarkersJson = new JsonObjectConverter().ConvertToMarkersGraphJson(lipFile);
            await JsRuntime.InvokeVoidAsync("loadLipMarkers", phonomarkersJson);
        }

        private async Task GetMarkersPhonemData()
        {
            var data = await JsRuntime.InvokeAsync<string>("getMarkersPhonemData");
            Console.WriteLine();
        }

        private async Task PutNewMarker()
        {
            var x = 523555;
            var y = 7;
            await JsRuntime.InvokeVoidAsync("putNewMarker", x, y);
        }

    }

    @functions {
        string value;
    }